html, body, :root {
    all: unset !important;
}

.tooltip-background {
    display: flex !important;
    background-color: #1a1a1a !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    border-radius: 10px !important;
}

.drag-handle {
    color: white !important;
    cursor: grab !important; 
    transform: scale(1.4) !important;
    margin-left: 10px !important;
}

.hidden {
    display: none !important;
}

.float-label {
    position: relative !important;
}

.label {
    font: bold 15px "Inter", sans-serif !important;
    position: absolute !important;
    pointer-events: none !important;
    left: 12px !important;
    top: 7.5px !important;
    transition: 0.2s ease all !important;
}

.as-placeholder {
    color: gray !important;
    bottom: 1px;
}

.as-label {
    top: -7px !important;
    font-size: 12px !important;
    background: #1a1a1a !important;
    color: #f8f8f2 !important;
    padding: 0 4px !important;
    margin-left: -4px !important;
}

.ant-input {
    background-color: #1a1a1a !important;
    color: #f8f8f2 !important;
    width: 20em !important;
    height: 2em !important;
    border-radius: 0.5em !important;
    padding-left: 0.6em !important;
}

.ant-input-outlined:hover, .ant-input-outlined:focus {
    border-color: #646cff !important;
}

.selected {
    border-color: #646cff !important;
}