.hidden {
    display: none;
}

.float-label {
    position: relative;
}

.label {
    font-weight: normal !important;
    position: absolute !important;
    pointer-events: none !important;
    left: 12px !important;
    top: 8px !important;
    transition: 0.2s ease all !important;
}

.as-placeholder {
    color: gray !important;
}

.as-label {
    top: -8px !important;
    font-size: 12px !important;
    background: #1a1a1a !important;
    color: #f8f8f2 !important;
    padding: 0 4px !important;
    margin-left: -4px !important;
}

.ant-input {
    background-color: #1a1a1a !important;
    color: #f8f8f2 !important;
    width: 155% !important;
}

.ant-input-outlined:hover, .ant-input-outlined:focus {
    border-color: #646cff !important;
}

.selected {
    border-color: #646cff !important;
}